article {
  text-align: left;
}

article img {
  width: 300px;
}

article #preview {
  width: calc(100vw - 160px - 21vw);
  display: flex;
  flex-direction: column;
}

article #preview * {
  width: 100%;
}

article #preview pre {
  width: 100%;
  overflow-y: auto;
}

article pre.highlight {
  background: #212121;
}

article h1 {
  font-size: 24px !important;
  text-align: left;
  padding: 8px 5px;
}

article .arc-bf {
  width: 100%;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  display: none;
  box-sizing: border-box;
  text-align: left;
}
